<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MoneyMap E2E Full Suite" verbose="1" parallel="none">

  <listeners>
    <listener class-name="com.example.moneymap.automation.listeners.TestNGListener"/>
  </listeners>

  <test name="MoneyMap E2E Tests">
    <classes>
      <class name="com.example.moneymap.automation.tests.E2EAutomationTest"/>
    </classes>
  </test>

</suite>
